
#theMenu {
    transform: scale(0);
    /* transform-origin: center center; */
    position: absolute;
    transition: transform ease-in .3s;
    width: 350px;
    height: 350px;
}

#theMenu.show {
	transform: scale(1);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;

	background-color: #64B0CD;
	font-family: 'Courier New';
	color: #FFFFFF;
}

.menuItem {
	background-color: #A6D5E6;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	cursor: pointer;
}

.menuItem:hover {
	opacity: 0.3;
}

.menuItem:nth-child(1) {
	top: 0;
	left: calc(50% - 25px);
}

.menuItem:nth-child(2) {
	top: calc(50% - 25px);
	left: calc(100% - 50px);
}
.menuItem:nth-child(3) {
	bottom: 0;
	left: calc(50% - 25px);
}
.menuItem:nth-child(4) {
	top: calc(50% - 25px);
	left: 0;
}
